table {
    width: 80%;
  }

  .m-5{
      margin: 5%;
  }
  td {
    padding-right: 18px;
  }

  h1{
    font-weight: bolder;
    font-stretch: condensed;
    text-decoration: underline;
  }

.background{
  background-color: lightgray;
}
button{
  width: 10%;
  height: auto;
}